.main{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
    width: 20rem;
    height: 25rem;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 13, 255, 0.038);
    border: solid 0.1vw rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 8px black;
    border-radius: 8px;
    padding: 3vh 3vw;
    input{
        font-size: larger;
        font-weight: 500;
        padding: 1vh 1vw;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.10);
        border: solid 0.1vw rgba(255, 255, 255, 0.5);
    }
    label{
        align-self: flex-start;
    }
    button{
        padding: 1.5vh 1vw;
        border-radius: 8px;
        border: none;
        background-color: white;
        margin-top: 2vh;
        cursor: pointer;
    }
    .section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        button{
            border-radius: 50%;
            padding: 0.5rem 0.65rem;
            background-color: rgba(255, 255, 255, 0.1);
            border: solid 0.1vw rgba(255, 255, 255, 0.5);
        }
    }
    span{
        padding: 2vh 1.5vw;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        border: solid 0.05vw;
        margin-top: 3.5vh;
    }
}