.App{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../src/4025866_17455.jpg) rgb(14, 0, 40) center no-repeat;
    background-size: cover;
    height: 100vh;
}